* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/font/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}

:root {
  font-family: Roboto;
  color: #22262A;
  --c0: #2D9CDB;  
  --c1: #40BFFF;
  --c2: #BCDDFE;
  --c3: #FFFFFF;
  --c4: #FAFAFB;
  --c5: #E7EAEC;
  --c6: #22262A;
  --c7: #FF4858;  
}

#container {
  padding: 32px 4%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(100, 100, 100, 0.05); 
}

::-webkit-scrollbar-thumb {
  background-color: rgba(64, 191, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--c1);
}